body {
    background-color: lightgray !important;
}

#header {
    background-image: url("../header.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.colorOverlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
    top: 0;
    background-color: rgba(0,0,0,0.6);
}


.triangle {
    width: 100%;
    height: 0;
    padding-bottom: 10%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    z-index: 2;
}
.triangle:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-right: 2500px solid transparent;
    border-bottom: 200px solid #ca5151;
}
#header .container .col-12 {
    z-index: 3;
    padding-top: 40px;
}

#header .container .col-12 .logo {
    font-family: 'Fjalla One', sans-serif;
    font-size: 60px;
    color: #fff;
    line-height: 57px;
    display: inline-block;
    border-bottom: solid 3px #fff;
}


#header .container .col-12 .logo span {
    color: #ca5151;
}

#header .container .col-12 .job {
    color: #fff;
    font-size: 30px;
}

#header .container .row .social .icon {
    display: inline-block;
    font-size: 30px;
    color: #fff;
    background-color: #ca5151;
    border-radius: 50%;
    margin-right: 20px;
    position: relative;
    width: 50px;
    height: 50px;
}

#header .container .row .social .icon:hover {
    cursor: pointer;
    background-color: #fff;
    color: #ca5151;
    transition: 250ms all;
}

#header .container .row .social .icon i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}